POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mobiflow
POSTGRES_USER=mobiflow
POSTGRES_PASSWORD=mobiflow

FLASK_PORT=5000
POSTBACK_ENDPOINT=http://localhost:5000/postback

PROCESSOR_BATCH_SIZE=50
PROCESSOR_SLEEP_SECONDS=2
PROCESSOR_STALE_TIMEOUT_SECONDS=600

DBT_SCHEMA=analytics
DBT_THREADS=1
